/* consists of css that will be used by multiple html files*/
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
  font-family: system-ui;

}

.container{
  position: relative;
  width: 100%;
}
/* sidenav*/

.navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  background: #232b2b;
  border-left: 10px solid #232b2b;
  transition: 0.4s;
  overflow: hidden;
}
.navigation.active
{
  width: 80px;

}
.navigation ul{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
}
.navigation ul li
{
  position: relative;
  width: 200%;
  list-style: none;
  border-top-left-radius: 10px;

}
.navigation ul li:hover
{
  background: white;
}
.navigation ul li:nth-child(1)
{
  margin-bottom: 40px;
  pointer-events: none;

}
.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: white;
}
.navigation ul li:hover a{
  color: blue;
}

.navigation ul li a .icons{
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding:0 10px ;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: whitesmoke;
  transition: 0.5s;
}
.main.active
{
  width: calc(100% - 80px);
  left: 80px;
}
.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;

}
.toggle{
  position:relative ;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer; 
  color: black;

  
}
 .pageName{
   position: relative;
   font-size: 2.0em;

 }


/* for the 4 cards shown on the UI*/
.cardBox{  
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card{
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  cursor: default;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.08);


}
.cardBox .card .numbers{
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color:gray;
}
.cardBox .card .cardName{
  color: gray;
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBx{
font-size: 3.5em;
color: gray;

}


/* icon colours*/
.pos{
  color: green;
}
.neg{
  color: red;
}
.new{
  color: gray;
}
.avg{
  background:-moz-linear-gradient(top, red 0%, green 100%); 
  background: -webkit-linear-gradient(top, red 0%,green 100%); 
  background: linear-gradient(to bottom, red 0%,green 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;

}
/* css or dashboard page but will be used for other pages too*/
.stockTable{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin-top: 10px;
  

}

.stockTable .stockList{
  position: relative;
  display: grid;
  min-height: 400px;
  max-height: 400px;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.08);
  border-radius: 10px;
  background: white;

}




.tbl-header{
  background-color: rgba(255,255,255,0.3);

 }

.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
}


.piechart{
  position: relative;
  display: grid;
  max-height: 400px;
  min-height: 400px;
  padding: 20px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.08);
  border-radius:  10px;
  background: white;

}
#myChart{
  margin: 0 auto;
  }

#Chart2{
    margin: 0 auto;
    }

.cardHeader h2{
font-weight: 400;
text-align: center;
color: gray;

}


/* media querys*/
@media (max-width:1300px){

  .navigation
  {
    left: -300px;
  }
  .navigation ul li a .title{
    display: none;
  }
  .navigation.active{
    width: 26.6%;
    left: 0;
  }
  .main{
    width: 100%;
    left: 0;
  }

  .cardBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);

  }


}
@media (max-width:770px){
  .cardBox{
    display: grid;
    grid-template-columns: repeat(1,1fr);

  }
  .stockTable{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
}


@media (max-width:620px){
  .pageName{
    font-size: 1.4em;
  }

}


